{% extends "web/layout.html" %}

{% block body %}
    <title>สร้างแชนแนล - ENGR APIs Developer</title>

    <div class="w3-col m7">
        <div class="w3-row-padding w3-container w3-card w3-white w3-round w3-margin" style="height: 50px;"><br>
            <h4 class="thai-font font-black" style="margin-top: -0.4em;margin-left: 0.5em;">
                สร้างแชนแนล<i class="fa fa-plus-circle"
                    style="font-size: 22px; margin-right: 0.5em; margin-left: 0.5em;"></i>
            </h4>
        </div>

        <a href="{% url 'web:createChannel_page' %}" class="font-midnight-blue-h ">
            <div class="w3-card w3-round w3-margin tiffany-green box-shadow-h" style="height: 80px;"><br>
                <div class="w3-container light-green" style="margin-left: 0.5em; margin-top: -1.5em; height: 80px;">
                    <p class="thai-font size-15" style="margin-top: 2em; margin-left: 1em;">
                        เชื่อมต่อ APIs สำหรับเริ่มต้น สำหรับนักพัฒนาระบบ
                    </p>
                </div>
            </div>
        </a>
    </div>
{% endblock%}