{% extends "web/layout.html" %}
{% block body %}
<title>ช่วยเหลือ (Helpdesk) - ENGR APIs Developer</title>

<div class="w3-col m7">
    <div class="w3-row-padding w3-container w3-card w3-white w3-round w3-margin" style="height: 50px;"><br>
        <h4 class="thai-font font-black" style="margin-top: -0.4em;margin-left: 0.5em;">
            ช่วยเหลือ
            <i class="fa fa-question-circle" style="font-size: 22px; margin-right: 1em; margin-left: 0.5em;"></i>
        </h4>
    </div>

    <div class="w3-card w3-round w3-margin baby-blue box-shadow-h" style="height: 220px;"><br>
        <div class="w3-container baby-blue" style="margin-left: 0.5em; margin-top: -1.5em; height: 80px;">
            <p class="thai-font size-17" style="margin-top: 2em;"><img src="/static/images/line_icon.png" style="width: 20px; margin-right: 0.5em; margin-top: -0.1em;">
                    LINE IT TSE TU
                <br>
                <br>
                <a href="https://page.line.me/?accountId=tse-itsupport" target="_blank" rel="noopener noreferrer">
                    <button class="btn-add thai-font">เพิ่มเพื่อน</button>
                </a>
                <img src="/static/images/qr_it.jpg" style="width: 100%; max-width:150px; height:auto; margin-right: 2em; float: right; margin-top: -3em;">
            </p>
        </div>
    </div>

    <div class="w3-card w3-round w3-margin white box-shadow-h"><br>
        <div style="margin-left: 1em; margin-right:1em;">
            <p class="thai-font size-17" style="margin-left: 1em;">ศูนย์คอมพิวเตอร์และสารสนเทศ</p>
            <p class="thai-font size-15" style="margin-left: 1em;">
                คณะวิศวกรรมศาสตร์ มหาวิทยาลัยธรรมศาสตร์ อาคารอำนวยการ ชั้น 2 ห้อง วศ. 206 - 208
                99 หมู่ 18 ถนนพหลโยธิน ต.คลองหนึ่ง อ.คลองหลวง จ.ปทุมธานี 12120
                โทร. 02 564 3001 - 9 ต่อ 3032, 3033, 3170, 3246, 3008 โทรสาร 02 986 9550
                <a class="thai-font size-16 font-midnight-blue-h" style="margin-left: 0.5em;" href="https://www.google.com/maps/place/%E0%B8%84%E0%B8%93%E0%B8%B0%E0%B8%A7%E0%B8%B4%E0%B8%A8%E0%B8%A7%E0%B8%81%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%95%E0%B8%A3%E0%B9%8C+%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%95%E0%B8%A3%E0%B9%8C+%E0%B8%A8%E0%B8%B9%E0%B8%99%E0%B8%A2%E0%B9%8C%E0%B8%A3%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B4%E0%B8%95/@14.0691091,100.6059689,15z/data=!4m2!3m1!1s0x0:0xa8339baf735e41e1?sa=X&ved=2ahUKEwitgOzl86_7AhVStmMGHSFzC-cQ_BJ6BAh6EAg" target="_blank" rel="noopener noreferrer">
                    แผนที่</a>
            </p>
        </div>
        
        <div id="googleMap" style="width:100%;height:400px;"></div>
    </div>
    
    <script>
        function myMap() {
            const uluru = { lat: 14.069726179121487, lng: 100.60715149899502 };
            var mapProp = {
                center: uluru,
                zoom: 15,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjAuOEDHtVIQVRVpysaFiPJFXqf0RWdlA&callback=myMap"></script>


</div>
{% endblock%}