{% extends "web/layout.html" %}
{% block body %}
    <title>PDPA - ENGR APIs Developer</title>
    <div class="w3-col m7">
        <!-- Middle Column -->
        <div class="w3-row-padding ">
            <div class="w3-col m12 ">
                <div class="w3-card w3-round">
                    <div class="w3-container white" style="height: 60px;">
                        <h3 class="thai-font font-black" style="margin-left: 0.5em; margin-top: 0.6em;">หลักการคุ้มครองข้อมูลส่วนบุคคล</h3>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="w3-row-padding ">
            <div class="w3-col m12 ">
                <div class="w3-card w3-round">
                    <div class="w3-container w3-padding baby-green">
                        <p class="thai-font size-18 font-black" style="text-align: left; margin-top: 1em; margin-left: 1em;">
                            <b>1.ความเป็นส่วนตัวข้อมูลบุคคล (PRIVACY of Personal Information)</b>
                        </p>
                        <p class="thai-font size-16 font-black"
                            style="text-align: left; margin-left: 1em;">
                            <span style="padding-left:50px; padding-right: 20px;"> สำนักงานศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร เคารพความเป็นส่วนตัวด้านข้อมูลอันเกี่ยวกับข้อมูลส่วนบุคคล (“Personal Data”)
                            เรามุ่งมั่นที่จะปกป้องความเป็นส่วนตัวของสมาชิกผู้ใช้งาน (“Users”) ทุกท่าน
                            นโยบายความเป็นส่วนตัวนี้จะอธิบายถึงวิธีการรวบรวมและใช้ข้อมูลส่วนบุคคลของคุณและแจ้งทางเลือกของคุณเกี่ยวกับข้อมูลส่วนบุคคลของคุณ
                            เนื้อหาต่อไปนี้จะเป็นข้อมูลเกี่ยวกับการรวบรวมและเผยแพร่ข้อมูลของเรา </span>
                        </p>
                        <br>
                        <ol type="a" style="padding-left:80px;" class="size-16">
                            <li class="thai-font" style="padding-right: 30px;">
                                 วัตถุประสงค์ ("Purposes") ของการจัดเก็บรวบรวมข้อมูลส่วนบุคคลที่ท่านได้ให้ไว้กับเราจะถูกนำไปใช้ดังต่อไปนี้</li>
                            <ul class="thai-font" style="margin-top: 1em;">
                                <li style="margin-bottom: 1em;">เพื่อช่วยจัดการบริการการยืนยันตัวตน</li>
                                <li style="margin-bottom: 1em;">เพื่อให้คุณสามารถเข้าถึงข้อมูลนักศึกษา ข้อมูลบุคลากร ขั้นพื้นฐาน</li>
                                <li style="margin-bottom: 1em;">เพื่อเป็นประโยชน์ต่อการทำความเข้าใจและวิเคราะห์ด้านระบบศูนย์กลางให้บริการข้อมูลให้ตรงกับความต้องการของคุณ</li>
                                <li style="margin-bottom: 1em;">เพื่อใช้สำหรับขั้นตอนการให้บริการสมาชิกผู้ใช้งาน</li>
                                <li style="margin-bottom: 1em;">เพื่อพัฒนาคุณภาพในการรายงานมหาวิทยาลัย</li>
                            </ul>
                            <p class="thai-font" style="padding-right: 30px;">
                                <span style="padding-left:30px;">แม้ว่ารายละเอียดข้อมูลส่วนบุคคลที่เก็บรวบรวมจะแตกต่างกันไปตามวัตถุประสงค์เฉพาะ โดยปกติข้อมูลส่วนบุคคลที่รวบรวม คือ
                                ชื่อ-นามสกุล , เบอร์โทรศัพท์ ,วันเกิด ,อีเมลล์ ,เลขประจำตัวบัตรประชาชน หรือ พาสปอร์ต</p>
                            <br>
                            <li class="thai-font" style="padding-right: 20px;">การจัดเก็บและรักษาข้อมูลส่วนบุคคลของคุณจะถูกเก็บไว้ในเซิร์ฟเวอร์ที่ทางเราเข้าถึงและจัดดำเนินการโดย
                            สำนักงานศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร หรือผู้ให้บริการที่ได้รับสิทธิ์อนุญาตเท่านั้น ข้อมูลส่วนบุคคลใด ๆ
                            ที่คุณได้ให้ไว้จะถูกเก็บรักษาไว้โดยองค์กรของเราตราบเท่าที่จำเป็นเพื่อให้บรรลุวัตถุประสงค์ที่ระบุไว้ในข้อ (1a) ข้างต้น
                            หรือตามระยะเวลาที่จำเป็นเพื่อให้เป็นไปตามข้อกำหนดทางกฎหมาย ข้อกำหนดทางด้านบัญชีและ /
                            หรือเพื่อปกป้องผลประโยชน์ของมหาวิทยาลัย</li>
                            <br>
                            <li class="thai-font" style="padding-right: 30px;">
                                มหาวิทยาลัยขอสงวนสิทธิ์ในการแก้ไขนโยบายความเป็นส่วนตัวนี้โดยไม่ต้องแจ้งให้ทราบล่วงหน้า
                            เราขอแนะนำให้คุณตรวจสอบนโยบายความเป็นส่วนตัวนี้เป็นประจำ</li>
                            <br>
                        </ol>

                    </div>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-container w3-card w3-white w3-round w3-margin"><br>
            <p class="thai-font size-18 font-black" style="text-align: left; margin-left: 1em;">
                <b>2. การยินยอม (CONSENT)</b>
            </p>
            <p class="thai-font size-16 font-black" style="text-align: left; margin-left: 1em; margin-right: 0.4em;">
                <span style="padding-left:50px; padding-right: 20px;">
                    สำนักงานศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร
                    จะพึงใช้ข้อมูลส่วนบุคคลของคุณเฉพาะเพื่อประโยชน์ที่แท้จริงและด้วยความยินยอมจากคุณ
                    สำหรับผู้ลงทะเบียนสมาชิกถือเป็นเงื่อนไขในการยอมรับการจัดเก็บ
                    การใช้และ/หรือการเปิดเผยข้อมูลส่วนบุคคลเพื่อวัตถุประสงค์ในการยืนยันตัวตน โดยการสมัครสมาชิกหมายถึงคุณได้ยอมรับข้อตกลง
                    รวมถึงเราอาจมีการรวบรวมข้อมูลบุคคลของคุณในกิจกรรมอื่นๆ ของมหาวิทยาลัย
                    เราจะทำการเก็บรักษาข้อมูลส่วนบุคคลไว้นานเท่าที่จำเป็นเพื่อให้เป็นไปตามวัตถุประสงค์ที่ระบุเท่านั้น
                    เราจะเก็บรักษาข้อมูลส่วนบุคคลไว้ตามหลักเกณฑ์ ขั้นตอน และหลักการที่สอดคล้องกับกฎหมายที่บังคับใช้
                    เราอาจจำเป็นที่ต้องเปิดเผยข้อมูลส่วนบุคคลของคุณไปยังหน่วยงานที่เกี่ยวข้อง “Vendor” (หรือผู้ประมวลผลข้อมูล) "Vendor"
                    ในที่นี้ หมายถึง บุคคลหรือนิติบุคคลใดๆ (อันนอกเหนือจากพนักงานของสำนักงานศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร)
                    ที่ได้รับสิทธิ์อนุญาตในการประมวลผลข้อมูลส่วนบุคคลในนามของ สำนักงานศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร เท่านั้น
                    "Processing" หมายถึง การประมวลผลในส่วนที่เกี่ยวกับข้อมูลส่วนบุคคล รวมถึง ซึ่งไม่จำกัดเฉพาะการได้มา การบันทึก การถือครอง
                    หรือการใช้ข้อมูลส่วนบุคคลในการดำเนินการใดๆ ซึ่งอาจนำไปสู่การรวบรวม จัดเก็บ แก้ไข
                    และเปิดเผยข้อมูลส่วนบุคคลเพื่อสนับสนุนกิจกรรมของมหาวิทยาลัย และเพื่อวัตถุประสงค์ดังกล่าวข้างต้น ผู้ประมวลผลข้อมูล
                    ("Vendor") เหล่านี้จะถือว่าข้อมูลส่วนบุคคลของคุณเป็นความลับตามกฎหมายว่าด้วยการคุ้มครองข้อมูลที่เกี่ยวข้องทั้งหมด ยกเว้น
                    กรณีที่อาจต้องเปิดเผยข้อมูลส่วนบุคคลของคุณหากมีความจำเป็นตามกฎหมาย หรือข้อกำหนดของหน่วยงานที่มีอำนาจ
                    หากคุณพิจารณาที่จะให้ข้อมูลส่วนบุคคลใดๆ ทางมหาวิทยาลัย จะแชร์ข้อมูลให้กับ หน่วยงาน หรือ องค์กรที่ได้รับเลือก
                    และจะดำเนินการดังกล่าวด้วยความยินยอมของคุณเท่านั้น คุณมีสิทธิ์เลือกที่จะให้ความยินยอม (หรืออนุญาต)
                    กับการแชร์ข้อมูลตามที่กล่าวมาข้างต้น และหน่วยงาน หรือ
                    องค์กรที่ได้รับอนุญาตจะต้องระบุข้อมูลที่เพียงพอต่อการให้คุณพิจารณาตัดสินใจเกี่ยวกับการใช้ข้อมูล หากคุณเลือกยินยอม
                    (หรืออนุญาต) เราจะไม่สามารถควบคุมวิธีใช้หรือประมวลผลข้อมูลส่วนบุคคลใดๆ ที่คุณให้แก่พวกเขาโดยตรงได้ ดังนั้น
                    เราขอแนะนำให้คุณตรวจสอบข้อกำหนดและเงื่อนไขและนโยบายความเป็นส่วนบุคคลของเว็บไซต์นั้นก่อนที่จะเปิดเผยข้อมูลส่วนบุคคลของคุณ
            </p>
            <br>
            <p class="thai-font size-16 font-black" style="text-align: left; margin-left: 1em; margin-right: 0.4em;">
                <span style="padding-left:50px; padding-right: 20px;">
                แม้ว่ารายละเอียดข้อมูลส่วนบุคคลที่เก็บรวบรวมจะแตกต่างกันไปตามวัตถุประสงค์เฉพาะ โดยปกติข้อมูลส่วนบุคคลที่รวบรวม คือ
                ชื่อ-นามสกุล , เบอร์โทรศัพท์ ,วันเกิด ,อีเมลล์ ,เลขประจำตัวบัตรประชาชน หรือ พาสปอร์ต
            </p>
            <p class="thai-font size-16 font-black" style="text-align: left; margin-left: 1em; margin-right: 0.4em;">
                <span style="padding-left:50px; padding-right: 20px;">
                    <b>การอนุญาตยินยอม (Opt In): </b> สำนักงานศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร
                    จะไม่นำข้อมูลส่วนบุคคลของคุณไปใช้เพื่อวัตถุประสงค์อื่นใดที่ไม่ได้ระบุไว้ก่อนหน้านี้
                    ยกเว้นกรณีที่เราได้รับความยินยอมจากคุณก่อนหน้านี้หรือเว้นแต่ข้อกำหนดบังคับทางกฎหมาย
            </p>
            <p class="thai-font size-16 font-black" style="text-align: left; margin-left: 1em; margin-right: 0.4em;">
                <span style="padding-left:50px; padding-right: 20px;">
                    <b>การไม่เข้าร่วมสมาชิก (Unsubscribe): </b> คุณสามารถถอนการยินยอมในการให้รวบรวม การนำไปใช้ และการเปิดเผย (ประมวลผลข้อมูลโดยทั่วไป)
                    ของข้อมูลส่วนบุคคลของคุณเมื่อใดก็ได้
            </p>
            <br>
        </div>

        <div class="w3-row-padding ">
            <div class="w3-col m12 ">
                <div class="w3-card w3-round">
                    <div class="w3-container w3-padding baby-green">
                        <p class="thai-font size-18 font-black" style="text-align: left; margin-top: 1em; margin-left: 1em;">
                            <b>3. ความถูกต้องของข้อมูล (ACCURACY of information)</b>
                        </p>
                        <p class="thai-font size-16 font-black" style="text-align: left; margin-left: 1em;">
                            <span style="padding-left:50px; padding-right: 20px;"> หากมีการเปลี่ยนแปลงข้อมูลส่วนบุคคลของคุณ กรุณาแจ้งให้ทางสำนักงานศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร ทราบ
                            เพื่อทำการอัพเดทเป็นข้อมูลปัจจุบันและถูกต้อง
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <p class="thai-font size-18 font-black" style="text-align: left; margin-left: 1em;">
                <b>บทลงโทษกรณีฝ่าฝืน</b>
            </p>
            <ul class="thai-font" style="margin-top: 1em; margin-left: 2em;">
                <li style="margin-bottom: 1em;">โทษอาญา จำคุกไม่เกิน 1 ปี และ/หรือ ปรับไม่เกิน 1 ล้านบาท</li>
                <li style="margin-bottom: 1em;">โทษทางแพ่ง จ่ายสินไหมไม่เกิน 2 เท่าของสินไหมที่แท้จริง</li>
                <li style="margin-bottom: 1em;">โทษทางปกครอง ปรับไม่เกิน 5 ล้านบาท</li>
            </ul>      
        </div>
    </div>
{% endblock %}